<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projecto_Final.Properties.Settings.Centro_MedicoConnectionString"
            connectionString="Data Source=DESKTOP-DHSIQKL\SQLSERVERMEDIA20;Initial Catalog=&quot;Centro Medico&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>